<template name="layout">
	{{>navbar}}
	<div class="container">
		{{#if currentUser}}
			{{>panelUsuario}}
		{{/if}}

		<main>
			<div class="row">
				{{#momentum plugin='right-to-left' }}
					{{> yield}}
				{{/momentum}}
			</div>
		</main>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59223446-1', 'auto');
	  ga('send', 'pageview');

	</script>
</template>
