<template name="confirmForm">
	<div class="container">
		<header class="header red-text">
			<h2>Envie los datos del pago</h2>
		</header>
		<br>
		<form class="col s12 formPay">
			<div class="col s12 input-field">
				<label class="label large">Nombre Del Producto</label><hr>
				<input type="text" class="form-control" id="nombre"><br>
			</div>
			
			<div class="col s12 input-field">
				<label class="label large">Link Del Producto</label><hr>
				<input type="text" class="form-control" id="link"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Monto pagado Del Producto</label><hr>
				<input type="text" class="form-control" id="monto"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Wallet desde donde se envio</label><hr>
				<input type="text" class="form-control" id="wallet"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Link de transacción</label><hr>
				<input type="text" class="form-control" id="linkTransaccion"><br>
			</div>

			<input type="hidden" id="userComprador" value="{{currentUser._id}}"><br>

			<input type="submit" class="waves-effect waves-light btn btn-large green" value="Publicar">
		</form>
	</div>
</template>