<template name="productos">
	<div class="container">
		<div class="card small">
        <div class="card-image waves-effect waves-block waves-light responsive-image">
          <img src="/ventas.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ventas Realizadas <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="/dashboard/productos/ventas" class="blue-text">Revisa Tus Ventas</a></p>
        </div>
      </div>

      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="{{foto}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Publicaciones Activas<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="/dashboard/productos/publicados" class="blue-text">Revisa Tus Publicaciones</a></p>
        </div>
      </div>
    </div>
</template>