<template name="publicados">
	{{#each ventasRealizadas}}
	<div class="container">
		<div class="card">
	        <div class="card-image waves-effect waves-block waves-light">
	          <img src="{{foto1}}" class="responsive-img">
	        </div>
	        <div class="card-content">
	          <span class="card-title activator grey-text text-darken-4">{{name}}<i class="mdi-navigation-more-vert right"></i></span>
	          <p><a class="green-text modificar" href="{{pathFor 'modificarProducto'}}"><i class="mdi-navigation-check"></i> Modificar Producto</a> <a class="red-text" href="#" id="eliminar"><i class="mdi-action-highlight-remove"></i> Eliminar Producto</a></p>
	        </div>
	        <div class="card-reveal">
	          <span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
	          <p>{{desc}}</p>
	        </div>
	      </div>  
	</div>
	{{/each}}
</template>