<template name="preguntas">
	<div class="container">
		<h2 class="header valign-wrapper">Responde a tus preguntas</h2>
    <br>
		{{#each preguntasRealizadas}}
			<div class="row">
		      <div class="col s12 m14">
		        <div class="card-panel teal">
		            <header class="card-title white-text"><img src="{{fotoUser}}" class="circle responsive-img"> {{usuario}}</header>
		            <big class="white-text" style="padding-left: 80px;">{{pregunta}}</big>
		            <div class="white-text">
		            	<div class="s8 input-field">
		            		<input type="text" hidden value="{{_id}}" id="preID">
		            		<input type="text" hidden value="{{pregunta}}" id="pregunta">
		            		<input type="text" hidden value="{{usuario}}" id="usuario">
		            		<input type="text" hidden value="{{fotoUser}}" id="fotoUser">
		            		<input type="text" hidden value="{{productID}}" id="productID">

							<input type="text" placeholder="Responder a la pregunta" class="form-control" id="respuesta">
							<button class="btn btn-large waves-effect waves-lights green white-text" id="responder">Responder</button>
						</div>
		            </div>
		        </div>
		      </div>
		    </div>
		{{/each}}
	</div>
</template>