<template name="footer">
  <footer class="page-footer blue center">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Somos Surpay.me!</h5>
                <p class="grey-text text-lighten-4">La nueva Plataforma donde El Bitcoin y Tú son los Protagonistas</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Interactua con nosotros!</h5>
                <li><a class="grey-text text-lighten-3" href="https://twitter.com/SurpayME">Follow En Twiiter</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/surpayme">Follow En Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="https://plus.google.com/u/1/108661176151170073742/posts">Follow En Google+</a></li>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 goalkeeper112
            <a class="grey-text text-lighten-4 right" href="#!">Repositorio</a>
            </div>
          </div>
        </footer>
</template>