<template name="introducir">
	<div class="container">
		<h2 class="header">Introduce el codigo de verificación</h2>
	</div>
	<div class="container">
		<div class="input-field col s19">
		    <i class="mdi-editor-mode-edit prefix"></i>
		    <textarea placeholder="Escriba su codigo de verificación" id="codigo" cols="30" rows="10" class="materialize-textarea"></textarea>
		    <input type="submit" id="verificar" value="Verificar" class="btn btn-large waves-effect-waves-light">
		</div>
	</div>
</template>