<template name="miniatura">
  <div class="card tooltipped s10 offset-s10 l10 offset-l10">
    <div class="card-image waves-effect waves-block waves-light">
    <script>
       $(document).ready(function(){
      $('.slider').slider({full_width: false, height: 250, width: 250});
    });
    </script>
        <div id="slider" class="slider">
          <ul class="slides">
            <li>
              <img src="{{foto1}}"> <!-- random image -->
            </li>
            <li>
              <img src="{{foto2}}"> <!-- random image -->        
            </li>
            <li>
              <img src="{{foto3}}"> <!-- random image -->
            </li>
            <li>
              <img src="{{foto4}}"> <!-- random image -->
            </li>
          </ul>
        </div>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i class="mdi-navigation-more-vert right"></i></span>
      <p>
        <big class="header">Precio: {{priceTo}} BTC</big><br>
        <a href="{{pathFor 'producto'}}"><i class="mdi-navigation-check"></i> Ver Producto</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
      <p>{{desc}}</p>
    </div>
  </div>  
</template>
