<template name="calificar">
	<div class="input-field col s19">
	    <i class="mdi-editor-mode-edit prefix"></i>
	    <textarea placeholder="Escriba su calificación de esta venta" id="calificacion" cols="30" rows="10" class="materialize-textarea"></textarea>
	    <input type="submit" id="calificar" value="Calificar" class="btn btn-large waves-effect-waves-light">
	</div>
</template>