<template name="verificarEmail">
	{{#if verificarEmail}}
		<div class="container">
			<h2 class="header">Verifica Tu Email</h2>
			<br>
		</div>
		<div class="container">
			<a href="#" class="btn btn-large waves-effects waves-lights" id="verificar">Verificar Email</a>
		</div>
	{{else}}
	{{/if}}
</template>