<template name="pago">
	<div class="container">
		<header class="red-text header">
			<h2>Instrucciones de compra</h2>
		</header>
		<br>
		<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Instrucciones</a>

		  <!-- Modal Structure -->
		  <div id="modal1" class="modal">
		    <h4>Estas son las instrucciones para concretar tu compra:</h4>
		    <p>
		    	Para hacer uso de nuestro servicio de escrow debes seguir los siguientes pasos:
		    	<ul>
		    		<li class="red white-text">En caso de no tener Bitcoin puedes comprar desde http://surbitcoin.com</li>
		    		<br>
		    		<li>Clickea en este enlace para realizar el pago <a href="{{invoice}}">{{invoice}}</a></li>
		    	</ul>
		    </p>
		    <div class="action-bar">
		      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Entiendo!</a>
		    </div>
		  </div>
		  <script>
		  		 $(document).ready(function(){
		    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
		  });
		  </script>
		<a class="right waves-effect waves-light btn-large" id="listo">Listo</a>
	</div>
</template>